---
name: ci

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: 'test'
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - uses: actions/cache@v2.1.2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('./Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: test
        env:
          HATENABLOG_CONSUMER_KEY: dummy
          HATENABLOG_CONSUMER_SECRET: dummy
          HATENABLOG_ACCESS_TOKEN_SECRET: dummy
          HATENABLOG_ACCESS_TOKEN: dummy
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          CI: true
        run: |
          bundle exec rspec

  rubocop:
    runs-on: ubuntu-latest
    name: 'rubocop'
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - run: |
          gem install rubocop

      - name: reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s
          rubocop | ./bin/reviewdog -f=rubocop -reporter=github-pr-review
      # - uses: reviewdog/action-rubocop@v1
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     reporter: github-pr-check

  slack-notify:
    if: always()
    needs: [test, rubocop]
    name: post slack
    runs-on: ubuntu-latest
    steps:
      - uses: Gamesight/slack-workflow-status@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
